:root{
  --background-color: rgb(6,22,38);
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: var(--background-color);
}


.CanvasContainer {
  height: 100vh !important;
  position: fixed !important;
  top: 0;
  z-index: 0;
}

.BoardContainer {
  position: relative;
  z-index: 1000;
  margin-top: 100vh;
  transition-duration: 200ms;
  transition-property: transform; 
}

.BoardGrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
  gap: 1rem;
  padding: 1rem;
  margin: auto;
  max-height: 90vh;
  overflow: auto;
}

.BoardContainer.expanded {
  transform: translateY(-100%);
}

.BoardPlane {
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-template-rows: repeat(4, auto);
  aspect-ratio: 1/1;
}

.BoardCell {
  aspect-ratio: 1/1;
  display: flex;
  /* align-items: center;
  justify-content: center; */
  position: relative;
  background-color: transparent;
  border: 1px solid #fff;
  filter:drop-shadow(0 0 2px rgb(176, 252, 252))
          drop-shadow(0 0 6px rgb(38, 167, 226));
}

.BoardCell:first-child,
.BoardCell:nth-child(2),
.BoardCell:nth-child(3),
.BoardCell:nth-child(4)
{
  border-top: none;;
}

.BoardCell:last-child,
.BoardCell:nth-child(13),
.BoardCell:nth-child(14),
.BoardCell:nth-child(15)
{
  border-bottom: none;;
}

.BoardCell:first-child,
.BoardCell:nth-child(5),
.BoardCell:nth-child(9),
.BoardCell:nth-child(13)
{
  border-left: none;;
}

.BoardCell:last-child,
.BoardCell:nth-child(12),
.BoardCell:nth-child(8),
.BoardCell:nth-child(4)
{
  border-right: none;;
}

.BoardItem {
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  color: white;
}

.ExpandButton {
  position: absolute; 
  right: 0; 
  top: 0;
  transform: translateY(-100%);
  padding: 0.5em;
  border-width: 0;
  aspect-ratio: 1/1;
}

@media only screen and (min-width: 600px) {
  .Container {
    display: grid;
    grid-template-columns: 6fr 3fr;
    height: 100%;
  }

  .CanvasContainer {
    position: relative !important;
  }

  .BoardGrid {
    max-height: unset;
    width: 80%;
  }

  .BoardContainer {
    margin-top: 0;
    height: 100vh;
    overflow: auto;
    display: flex;
  }

  .BoardContainer.expanded {
    transform: translateY(0);
  }
}

@media only screen and (min-width: 1008px) {
  .BoardGrid {
    width: 100%;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
}