body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
  overflow: hidden;
}


.CanvasContainer {
  height: 100vh !important;
  position: fixed !important;
  top: 0;
  z-index: 0;
}

.BoardContainer {
  position: relative;
  background-color: white;
  z-index: 1000;
  margin-top: 100vh;
  transition-duration: 200ms;
  transition-property: transform; 
}

.BoardGrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
  gap: 1rem;
  padding: 1rem;
  margin: auto;
  max-height: 90vh;
  overflow: auto;
}

.BoardContainer.expanded {
  transform: translateY(-100%);
}

.BoardPlane {
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-template-rows: repeat(4, auto);
  aspect-ratio: 1/1;
}

.BoardCell {
  aspect-ratio: 1/1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ExpandButton {
  position: absolute; 
  right: 0; 
  top: 0;
  transform: translateY(-100%);
  padding: 0.5em;
  border-width: 0;
  aspect-ratio: 1/1;
}

@media only screen and (min-width: 600px) {
  .Container {
    display: grid;
    grid-template-columns: 5fr 2fr;
    height: 100%;
  }

  .CanvasContainer {
    position: relative !important;
  }

  .BoardGrid {
    max-height: unset;
  }

  .BoardContainer {
    margin-top: 0;
    height: 100vh;
    overflow: auto;
  }

  .BoardContainer.expanded {
    transform: translateY(0);
  }
}
@media only screen and (min-width: 1008px) {
  .BoardContainer {
    display: flex;
  }

  .BoardGrid {
    width: 100%;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
}